.cartpage-checkout-wrapper {
    padding: 1rem 1rem;
    width: 35%;
    font-family: "Roboto", sans-serif;
  }
  
  .cartpage-checkout-container {
    background-color: white;
    padding: 1.2rem 1rem;
  }
  
  .cartpage-location-div::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 1px;
    background-color: hsl(230, 23%, 85%);
  }
  .location-text {
    font-size: 0.8rem;
    color: hsl(230, 23%, 75%);
    font-weight: 500;
  }
  
  .location-address-text {
    font-size: 0.7rem;
    font-weight: 500;
  }
  .location-address-text i {
    margin-right: 0.4rem;
  }
  
  .cartpage-order-summary {
    padding: 1.2rem 0 0;
  }
  
  .cartpage-summary-text {
    font-weight: 500;
  }
  .cartpage-subtotal,
  .cartpage-shipping {
    font-size: 0.8rem;
    color: hsl(230, 23%, 45%);
    font-weight: 500;
  }
  
  .cartpage-price {
    font-size: 0.9rem;
    color: hsl(0, 0%, 0%);
    font-weight: 500;
  }
  
  .cartpage-voucher-div input[type="text"] {
    border: 1px solid hsl(230, 23%, 75%);
    width: 65%;
    padding: 5px 10px;
  }
  
  .cartpage-voucher-div input[type="text"]:focus {
    outline: 1px solid hsl(211, 100%, 55%);
  }
  .cartpage-voucher-div Button {
    width: 30%;
  }
  .cartpage-total {
    font-size: 0.9rem;
    color: hsl(0, 0%, 3%);
    font-weight: 500;
  }
  
  .cartpage-total-price {
    font-size: 1.1rem;
    color: #f36f36;
    font-weight: 500;
  }
  
  .cartpage-btn {
    background-color: #f36f36;
    border: none;
    color: white;
    font-weight: 500;
    padding: 0.7rem;
    width: 100%;
  }
  
  .cartpage-vat {
    width: 100%;
    font-size: 0.7rem;
    display: flex;
    justify-content: end;
  }
  